#container {
    width:100%;
    max-width:none;
    min-width:none;
}
header a#logo {
    margin-left:50px;
}
header #profile {
    margin-right:50px;
}
#sub-navigation {
    margin-left:50px;
    margin-right:50px;
}
#main-container {
	padding:20px 50px 20px 260px
}
/* smart phone */
@media only screen and (min-width : 320px) and (max-width : 767px) {
    
    header a#logo {
	    padding-left:5px;
	}
	header #profile {
	    margin-right:0;
	}
	#sub-navigation {
	    margin-left:5px;
	    margin-right:5px;
	}
	#main-container {
	    padding:10px 5px 15px 5px;
	}

}
/* ipad */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	
    header a#logo {
	    padding-left:5px;
	}
	header #profile {
	    margin-right:0;
	}
	#sub-navigation {
	    margin-left:5px;
	    margin-right:5px;
	}
	#main-container {
	    padding:10px 5px 15px 5px;
	}
}