/* smartphone blue */

#container {
	min-width:200px;
	max-width:480px;
}
header #logo {
	display:none;
}
header #main-navigation {
	width:95%;
	clear:both;
	padding-left:5px;
}
header #main-navigation ul {
	clear:both;
	width:100%;
}
header #main-navigation ul li {
	width:100%;
	clear:both;	
	padding-bottom:5px;
}
header #main-navigation ul li a {
	text-decoration:none;
}
header #main-navigation ul li a span {
	display:block;
	padding:10px;
	clear:both;
	padding-left:50px;
}
header #main-navigation ul li span.dashboard{
	background-position: 5px 0px;
}
header #main-navigation ul li span.dashboard:hover{
	background-position: 5px 0px;
}
header #main-navigation ul li.active span.dashboard{
	background-position: 5px 0px;
}
header #main-navigation ul li span.users{
	background-position: 5px 0px;
}
header #main-navigation ul li span.users:hover{
	background-position: 5px 0px;
}
header #main-navigation ul li.active span.users{
	background-position: 5px 0px;
}
header #main-navigation ul li span.charts{
	background-position: 5px 0px;
}
header #main-navigation ul li span.charts:hover{
	background-position: 5px 0px;
}
header #main-navigation ul li.active span.charts{
	background-position: 5px 0px;
}
header #profile {
	width:100%;
	clear:both;
	padding:0;
	margin:5px;
}
header #profile #user-data {
	display:none;
}
header #profile #user-notifications {
	padding-left:10px;
}
#sub-navigation {
	display:none;
}
#main-container {
	padding:15px 5px 15px 40px;
}
#content {
	padding:5px;
}
form section > div input[type="text"], form section > div textarea {
	width:200px;
}
#left-menu {
	float:left;
	position:relative;
	width:40px;
	right:39px;
	margin-left:-100%;
	height:500px;
}
#left-menu ul{
padding-left:5px
}
#left-menu ul li {
	width:16px;
	overflow:hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#left-menu ul li:hover {
	width:100px;
	background-color:#777;
}
#left-menu ul li:hover a {	
	background-color:#777;
	color:#fff;
	text-shadow:0 1px 0 #000;
}
#left-menu ul li.active {
	background-color:#f9f9f9;
	border:1px solid #E7E7E7;
	border-bottom:1px solid #D7D7D7;
	border-right:0;
	box-shadow:0 1px 0 #FFFFFF inset, -2px 1px 2px rgba(0, 0, 0, 0.05);
}
#left-menu ul li.active a {
	color:#b90000;
}
#left-menu ul li.active:hover {
	border-right:1px solid #E7E7E7;
}
#left-menu ul li.active:hover a {
	text-decoration:none;
	color:#b90000;
	text-shadow:0 1px 0 #fff;
}
#left-menu ul li a {
	padding-left:25px;
}
.box-element .box-content ul.actions li {
	width:25%;
}